<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Ben Kath's Project 1 - About Me Page</title>
    </head>
    <body>
        <center>
            <h1>Hello, Welcome to The About Me page!</h1>
            <p>My name's Ben Kath. I am a Graphic Design major with a minor in 
                Web Design. <br/> This website was created to make use of several
                different API calls for our first project. <br/> Let's use one of
                them right now!</p>
            <h3>The Random Cat Fact API!</h3>
            <p id="catFact">INSERT CAT FACT HERE</p>
            <img src="/images/cat.png" width="375" height="350">
            <script type="text/javascript" src="/scripts/catfact.js"></script>
        </center>
		
    </body>
	
</html>